! ------------------------------------------------------------------------------
! ! ROFI Color theme
! ! ------------------------------------------------------------------------------
 rofi.color-enabled: true
 rofi.color-window: argb:ee222222, #53a354, #53a354
 rofi.color-normal: argb:0000000, #d8dee9, argb:0000000, #53a354, #1b2b34
 rofi.color-active: argb:0000000, #fbea68, argb:0000000, #fbea68, #1b2b34
 rofi.color-urgent: argb:0000000, #f99157, argb:0000000, #f99157, #1b2b34
