"*":
  core:
    allowPendingPaneItems: false
    autoHideMenuBar: true
    automaticallyUpdate: false
    destroyEmptyPanes: false
    themes: [
      "one-dark-ui"
      "genesis-syntax"
    ]
  editor:
    fontSize: 12
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
    useShadowDOM: false
    zoomFontWhenCtrlScrolling: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui":
    layoutMode: "Compact"
    tabSizing: "Even"
  welcome:
    showOnStartup: false
